@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Dosis:wght@500&family=Lato&family=Nunito&family=Staatliches&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-secondary: #ff3478;
}

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 1.5rem;
  background: url('https://images.unsplash.com/photo-1539628399213-d6aa89c93074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.97;
}

.main-container {
  background-color: whitesmoke;
  width: 37.5rem;
  height: 55vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 5px 12px var(--clr-font);
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
}

.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  border: 1px solid var(--clr-font);
  height: 2rem;
}

.fill-bar {
  border: 15px solid var(--clr-primary);

  width: 20%;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.score {
  font-size: 2rem;
}

.section-A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section-B {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.choice-container {
  border: 1px solid var(--clr-font);
  height: 2rem;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.choice-container:hover {
  border: 1px solid var(--clr-secondary);
}

.btn {
  height: 100%;
  width: 20%;
  position: absolute;
  border-radius: 0;
  border: 0;
  background-color: var(--clr-font);
  color: var(--clr-bcg);
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 12px var(--clr-secondary);
  transition: all 0.5s;
  background-color: var(--clr-primary);
}

span {
  margin: 0 0 0 9rem;
  position: relative;
  bottom: 5px;
  font-size: 1.1rem;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
}

.btn-submit,
.btn-reset {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #282c35;
  color: #fff;
  border-radius: 5px;
}

.btn-submit {
  padding: 0.6rem 1.1rem;
}

.btn-reset {
  text-decoration: none;
  font-size: small;
}

.btn-submit:hover,
.btn-reset:hover {
  background-color: #ff3478;
  transition: all 0.5s;
}

.btn-submit:active,
.btn-reset:active {
  transform: translateY(2px);
}

/* Media Queries Mobile */

@media screen and (max-width: 645px) {
  .main-container {
    width: 22rem;
  }
  .wrapper {
    width: 20rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .main-container {
    width: 22rem;
    height: 65vh;
  }
  .wrapper {
    width: 20rem;
  }
  .section-A {
    margin-bottom: 0;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .main-container {
    height: 60vh;
  }
  .section-A {
    margin-bottom: 1rem;
  }

  h3 {
    font: 10px;
  }
}

@media screen and (max-width: 375px) {
  .main-container {
    height: 80vh;
  }
}

@media screen and (max-width: 280px) {
  .main-container {
    width: 90vw;
  }

  .wrapper {
    width: 14rem;
  }

  span {
    margin: 3.2rem;
  }
}

/* Media queries for landascape mode */

@media screen and (max-height: 600px) and (orientation: landscape) {
  .main-container {
    height: 80vh;
  }
}

@media screen and (max-height: 540px) and (orientation: landscape) {
  .main-container {
    height: 95vh;
  }
}

@media screen and (max-height: 414px) and (orientation: landscape) {
  .main-container {
    height: 90vh;
  }
  .wrapper {
    width: 30rem;
  }

  .section-A {
    margin-bottom: 0;
  }
  h3 {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-height: 375px) and (orientation: landscape) {
  .main-container {
    height: 95vh;
  }

  h3 {
    margin-top: 2rem;
  }
  .btns {
    margin-top: 0.5rem;
  }
}
